%h1.flex.justify-center.pr-32.pl-32.pt-16
  .h-48.lg:h-auto.lg:w-48.flex-none.bg-cover.rounded-t.lg:rounded-t-none.lg:rounded-l.text-center.overflow-hidden{style: "background-image: url('https://scontent-arn2-1.xx.fbcdn.net/v/t1.0-9/1934658_10154604810679692_2073406639921177527_n.jpg?_nc_cat=108&_nc_ht=scontent-arn2-1.xx&oh=31c5fe96643bcca587fc099dec435b1b&oe=5CE1B61D')", title: "COYG"}
  .border-r.border-b.border-l.border-grey-light.lg:border-l-0.lg:border-t.lg:border-grey-light.bg-white.rounded-b.lg:rounded-b-none.lg:rounded-r.p-4.flex.flex-col.justify-between.leading-normal
  .mb-8
    %p.text-xl.text-grey-dark.flex.items-center.ml-12 Welcome to my profile page.
    %p.text-xl.text-grey-dark.flex.items-center.ml-6 I was born and raised in northern California near the city of Sacramento. I grew up in a very religious home. Although my family wasn’t rich, I had a good childhood with a warm and loving family.  
    %p.text-xl.text-grey-dark.flex.items-center.ml-6 It wasn’t until 1988 that my world was changed by the words and music of Joe Strummer, Mick Jones, Paul Simon and Topper Headon. At the tender age of 11, my world view was rocked both literally and figuratively by The Clash. 
    %p.text-xl.text-grey-dark.flex.items-center.ml-6 While this my not pertain to any job opportunities, I feel this moment in time shaped who I am as a person today and gives me an understanding in culture, style and music. 
    %p.text-xl.text-grey-dark.flex.items-center.ml-6 It opened a whole new world to me that I felt compelled to understand and study. In the same way, technology opened up a world that I felt compelled to understand. I remember my father sitting at his Commodore 64 for hours typing in code. 
    %p.text-xl.text-grey-dark.flex.items-center.ml-6 I had no idea what he was doing at the time but it sparked a curiosity that exists in me to this day. Wanting to understand and manipulate technology has been a nagging hobby, passion and obsession since I first played “Oregon Trail”.  
    %p.text-xl.text-grey-dark.flex.items-center.ml-6 While I never took coding seriously until later in life, it is still as exciting to me as the first time I heard the lines “London calling, to the faraway towns”. 
  .post.text-blue-darker
    %h2
      %a{href: "about_me"}
    %hr/