@tailwind preflight;

@tailwind components;
 
@tailwind utilities;

* {
  box-sizing: border-box;
}

body {
  font-family: 'Raleway', sans-serif;
}

.wrapper {
  width: 90%;
  margin: 0 auto;
}

.skinny_wrapper {
  width: 80%;
  max-width: 760px;
  margin: 0 auto;
}

.wrapper_padding {
  padding: 4rem 0;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

h1, h2, h3, h4, h5, h6, p, ul, li {
  color: red;
}

.container {
    background-image: url('') no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.background {
  background-image: url('/images/programmerFound.png');
  background-repeat: no-repeat;
  background-size: contain;
}

.input[type="submit"], .button {
  outline: none;
  background: transparent;
  border: 2px solid;
  text-align: center;
  font-size: 1em;
  color: darkorchid;
  text-decoration: none;
  padding: 1em 2em;
}

.project_button {
  background: highlight;
  color: white;
  text-decoration: none;
  padding: 1em 2em;
}

.button_wrapper {
  margin: 4em 0 0 0;
  text-align: center;
}

.object-fit-fill {
  object-fit: fill;
}

.object-fit-contain {
  object-fit: contain;
}

.object-fit-cover {
  object-fit: cover;
}

.object-fit-none {
  object-fit: none;
}

.object-fit-scale-down {
  object-fit: scale-down;
}

.bg-header {
  background: url(https://picsum.photos/1920/1920/?random) center center no-repeat;
  background-attachment: fixed;
}

.bg-quote {
  background: url(https://picsum.photos/1600/1600/?random) center center no-repeat;
  background-attachment: fixed;
}
@import 'posts_projects';

