.bg-black.ml-12.mr-12.mt-6
  %br 

  .flex.justify-center.text-sm.mb-8
    .flex.justify-center.w-16.h-16.ml-12.mr-8 
      =link_to image_tag('linkedin-button.png',{class: 'footerink' }), 'https://www.linkedin.com/in/jonathan-edwards-671094110/'
    .flex.justify-center.w-16.h-16.mr-6.ml-6.mb-3
      =link_to image_tag('github.png',{class: 'footerlink' }), 'https://github.com/Jon1969Edwards'
    %p.text-grey-dark.mt-3 Made using a lot of coffee, Ruby on rails and sleepless nights.
