.bg-black.h-2p.flex.border-2.border-black
  .max-w-xs
    =link_to image_tag('logo_transparent.png',{class: 'logo' }), root_path 

  %ul.list-reset.flex.justify-between
  %li.mr-3
    %a.inline-block.border.border-white.rounded.hover:border-grey-lighter.text-blue.hover:bg-grey-lighter.py-2.px-4{href: "#"} Pill
  %li.mr-3
    %a.inline-block.border.border-white.rounded.hover:border-grey-lighter.text-blue.hover:bg-grey-lighter.py-2.px-4{href: "#"} Pill
  %li.mr-3
    %a.inline-block.border.border-white.rounded.hover:border-grey-lighter.text-blue.hover:bg-grey-lighter.py-2.px-4{href: "#"} Pill
