
.bg-black.h-2p.flex.border-2.border-black.justify.ml-12.mr-12
  .flex.justify-center.bg-cover.bg-black.h-2p.flex.border-2.border-black.max-w-xs
    =link_to image_tag('logo_transparent.png',{class: 'logo' }), root_path 
  %ul.list-reset.flex.mt-32.mr-64.ml-24
    %li.mr-6
      %a.text-grey.hover:text-blue-darker{href: "about_me"} About Me
    %li.mr-6
      %a.text-grey.hover:text-blue-darker{href: "projects"} My Projects
    %li.mr-6
      %a.text-grey.hover:text-blue-darker{href: "EDU"} Education
    %li.mr-6
      %a.text-grey.hover:text-blue-darker{href: "contacts"} Contact