%h1.page_title.text-blue-dark.flex.justify-center.pr-32.pl-32.pt-16.mt-8.mb-16 Stuff I've Built
.flex.justify-center.pr-32.pl-32.pt-16
  .h-24.lg:h-auto.lg:w-48.flex-none.bg-cover.rounded-t.lg:rounded-t-none.lg:rounded-l.text-center.overflow-hidden{style: "background-image: url('https://wp-assets.highcharts.com/www-highcharts-com/blog/wp-content/uploads/2018/12/09121123/coding1_fixed.jpg')", title: "Code"}
  .border-r.border-b.border-l.border-red-light.lg:border-l-0.lg:border-t.lg:border-red-light.bg-grey-darker.rounded-b.lg:rounded-b-none.lg:rounded-r.p-4.flex.flex-col.justify-between.leading-normal
  .mb-8
    %p.text-sm.text-red.flex.items-center
    - @projects.each do |project|
      .post.text-red
        %p.date= project.created_at.strftime('%A, %B %d')
        %h2
          %a{href: "#"}= link_to project.title, project
        %hr/

          