%h1#page_title Stuff I've Built
#posts_wrapper.skinny_wrapper
  - @projects.each do |project|
    .post
      %p.date= project.created_at.strftime('%A, %B %d')
      %h2
        %a{href: "#"}= link_to project.title, project
      %hr/