%h1.page_title.text-blue-darker.flex.justify-center.pr-32.pl-32.pt-16.mt-32.mb-16 Holla at ya boy
.skinny_wrapper.wrapper_padding.text-red
  %label Name
  %input{type: "text"}/

  %label Email
  %input{type: "text"}/

  %br

  %label Message
  %br
  %textarea

  %input.button{type: "submit", value: "Send Message"}/
  %br
  %br